################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BingWallpaper/v15
/.vs
/packages
/BingWallpaper/bin
/BingWallpaper/obj
